[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11"
django-webpack-loader = "==0.6.0"
wagtail = "==2.1"
raven = "==6.8.0"
djangorestframework = "==3.8.2"
django-polymorphic = "==2.0.2"
"psycopg2-binary" = "==2.7.4"
gunicorn = "==19.8.1"
python-memcached = "*"
dj-database-url = "*"
whitenoise = "==3.3.1"
pylibmc = "*"
django-storages = "*"
boto = "*"
"boto3" = "*"
pytest = "*"
pytest-django = "*"
django-webp-converter = "*"

[dev-packages]
pytest = "*"
pylint = "*"
pytest-django = "*"

[requires]
python_version = "3.6.5"
