*.pyc
.cov
.cache
.idea
ops/kubernetes/secrets.yaml
ops/data
ops/terraform/.terraform
**/node_modules
src/server/venv
src/server/.coverage
src/server/.pytest_cache
src/server/staticfiles
src/client/webpack-stats.dev.json
static/*
./wagtail
/.env
.venv
venv
