{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="alternate" hreflang="en" href="https://noel-wilson.co.uk" />
    <meta name="description" content="Noel Wilson, a fullstack developer">
    <META name="keywords" content="noel, wilson, noel wilson, python, javascript, web developer, software, django">
    <meta name="author" content="Noel Wilson">
    <title>Noel Wilson</title>
    {% block head %}
    {% endblock %}
    {% render_bundle 'main' 'css' %}
  </head>

  <body id="page-top" class="{% block body_class %}{% endblock %}">
    <noscript>
      As a developer I require javascript to be enabled to render the thing on my website :). please enable JavaScript to see this page.
    </noscript>
    <div class="main">
      {% block content %}
      {% endblock %}
    </div>
    {% render_bundle 'main' 'js'%}
  </body>
</html>
