.pagination {
    justify-content: space-evenly;
    display: flex;
}

.pagination a {
    color: white;
}

li.active {
    cursor: default !important;
    text-decoration: underline;
}

.pagination li {
    cursor: pointer;
}


.disabled {
    display: none;
}